.tarjeta-experiencia {
    border: 2px solid hsl(227, 100%, 50%);
    border-radius: 25px;
    margin: 20px;
}

.info-experiencia {
    flex-grow: 1;
    color: hsla(240, 95%, 48%, 0.91);
}

li {
    list-style: none;
}

.tarjeta-titulo {
    color: hsl(240, 95%, 48%, 0.91);
    padding-left: 15px;
}

.btn-mas {
    margin: 10px 15px;
}

.btn {
    margin: 10px 9px;
}

.btn-mas i {
    font-size: 15px;
}

.imagen-experiencia {
    margin-right: 15px;
    width: 100px;
}

.experiencia {
    display: flex;
    padding: 0.2cm;
}

.edicion-experiencia {
    padding-right: 15px;
}
